<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionStringLocal" value="Server=(localdb)\MSSQLLocalDB;Database=AltChan;Integrated Security=true;"/>
    <add key="connectionStringLive" value="Server=mssql7.websitelive.net;Database=greyskies_AltChans;User Id=xxxxx;Password=xxxxx;"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>