@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AltChans Web Service</h1>
    <p class="lead">Provides alternative channel and video links</p>
</div>

<div class="row">
    <h2>Web Service details</h2>
    <p> Example call: </p>
    <p> </p>
    <p><a href="http://greyskies.co.uk/api/AltChanApi?videoUrl=https://www.youtube.com/watch?v=VFyDD4KSLVY">http://greyskies.co.uk/api/AltChanApi?videoUrl=https://www.youtube.com/watch?v=VFyDD4KSLVY</a> </p>
    <p>this will return a list of equivalent URLs in order of channel preference </p>
</div>